Grab a partner (or two)

Download the Netflix CSV file

Using Google Colab: https://colab.research.google.com/, complete the following.

1.	Import the data
2.	Explore the data
    a.	What are the columns?
    b.	What data is missing? 
    c.	How many TV Shows are there compared to movies? 
    d.	What are the ratings? How many of each? 
    e.	What about categories (listed_in)? 
    f.	Are there any correlations between fields? 
3.	Clean the data, if necessary
4.	Build a recommendation engine. You may want to use the python natural language toolkit (import it) or word2vec from Google: https://code.google.com/archive/p/word2vec/. 
5.	Submit the code you used to create a recommendation engine that when a movie title or cast name is entered, it returns 5-10 recommendations based on the value entered.

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('netflix_titles.csv.zip')
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
df.head(0) #show oclumns

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [ ]:
# in this section, im going to try to clean and impute the director column
# i guess i should count how many directors there are and reclassify
df['type'].value_counts()

Movie      5377
TV Show    2410
Name: type, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

What data is missing??

In [ ]:
df.loc[:, df.isnull().any()].columns

Index(['director', 'cast', 'country', 'date_added', 'rating'], dtype='object')

How Many TV shows compared to movies??

In [ ]:
types = df.groupby('type')

In [ ]:
tv_shows = types.get_group('TV Show')
print('The total number of tv shows: {}'.format(tv_shows['type'].count()))

The total number of tv shows: 2410

In [ ]:
movies = types.get_group('Movie')
print('The total number of movies: {}'.format(movies['type'].count()))

The total number of movies: 5377

Ratings

In [ ]:
df['rating'].value_counts()

TV-MA       2863
TV-14       1931
TV-PG        806
R            665
PG-13        386
TV-Y         280
TV-Y7        271
PG           247
TV-G         194
NR            84
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: rating, dtype: int64

what are the categories and how many of each??

In [ ]:
df['listed_in'].value_counts()

Documentaries                                                                      334
Stand-Up Comedy                                                                    321
Dramas, International Movies                                                       320
Comedies, Dramas, International Movies                                             243
Dramas, Independent Movies, International Movies                                   215
                                                                                  ...
Horror Movies, International Movies, Sci-Fi & Fantasy                                1
Comedies, Dramas, Sports Movies                                                      1
Dramas, Faith & Spirituality, Independent Movies                                     1
International TV Shows, Spanish-Language TV Shows, Stand-Up Comedy & Talk Shows      1
Reality TV, TV Horror, TV Thrillers                                                  1
Name: listed_in, Length: 492, dtype: int64

Are there any correlations between fields??

In [ ]:
df[['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']].corr()

              release_year
release_year           1.0

In [ ]:
year_groupdf.groupby(df['release_year'])

NameError: ignored

In [ ]:
from sklearn.metrics import jaccard_score
jaccard_score([1,1,1], [1,1,1], average='macro')

In [ ]:
concats = df.values.tolist()
concats[1]

In [ ]:
jaccard_score(np.array(concats[10]).T,
              np.array(concats[100]).T,
              average = "macro")

In [ ]:
#to predict: input show/movie, arrange data to string category bins, return top five Jaccard scorers

In [ ]:
#create an array of just descriptions
desc = df['description']
desc[0]

'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.'


Make a list of word types for each word in the description

'NN' are nouns that may be useful

For this first example, I think 'future', 'paradise', 'island' and similar words would work well

link to word descriptions: 
https://pythonprogramming.net/part-of-speech-tagging-nltk-tutorial/

In [ ]:
tokens = nltk.word_tokenize(desc[0])
nltk.pos_tag(tokens)

[('In', 'IN'),
 ('a', 'DT'),
 ('future', 'NN'),
 ('where', 'WRB'),
 ('the', 'DT'),
 ('elite', 'JJ'),
 ('inhabit', 'NN'),
 ('an', 'DT'),
 ('island', 'NN'),
 ('paradise', 'NN'),
 ('far', 'RB'),
 ('from', 'IN'),
 ('the', 'DT'),
 ('crowded', 'VBN'),
 ('slums', 'NNS'),
 (',', ','),
 ('you', 'PRP'),
 ('get', 'VBP'),
 ('one', 'CD'),
 ('chance', 'NN'),
 ('to', 'TO'),
 ('join', 'VB'),
 ('the', 'DT'),
 ('3', 'CD'),
 ('%', 'NN'),
 ('saved', 'VBN'),
 ('from', 'IN'),
 ('squalor', 'NN'),
 ('.', '.')]